@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    transition: transform 0.5s ease-in-out;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(221, 239, 246);
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width:max(750px,40%);
    height:75vh;
    background-color: #ffffff;
    border-radius: 1.2rem;
    padding: 50px;
}
h1{
    font-size: max(30px,2.5vw);
    color: rgba(0, 0, 0, 0.712);
    margin-bottom: 25px;
    margin-top: -10px;
}
p{
    font-size: 18px;
    margin: 5px 0;
    padding-bottom: 5px;
}
.form-opt{
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
}
.opt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.427);
}
input[type="radio"]{
    width: 30px;
    height: 20px;
    margin: 5px;
    border-color: #035e54;
    accent-color: #035e54;
}
label{
    width: inherit;
    cursor: pointer;
}
input,textarea{
    width: 100%;
    padding: 12px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.427);
    border-radius: 8px;
    cursor: pointer;
}
.control:focus{
    border-color: #035e54;
    box-shadow: 0 0 0 0.2rem rgba(24, 126, 216, 0.25);
    outline: 0;
 }
.opt:hover{
    border-color: #033d36;
    box-shadow: 0 0 0 0.2rem rgba(24, 126, 216, 0.25);
    outline: 0;
}
span{
    color: #035e54;
}
input[type="checkbox"]{
    height: 20px;
    width: 20px;
    vertical-align: bottom;
    margin-right: 20px;
    accent-color: #044f47;
}
.term{
    display:flex;
    width: 100%;
    margin-bottom: 20px;
}
button{
    width: 100%;
    padding: 12px;
    background-color: #035e54;
    color: white;
    font-size: 1.5vw;
    border-radius: 8px;
    border: none;
}
button:hover{
    background-color: #033d36;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .form-opt{
        flex-direction: column;
    }
    form{
        width: 70%;
    }
}
/* 3, 94, 84, 1 */
